.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
RhinoPipe.egg-info

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
__pycache__
*.pyc
*.tar.gz
logs
#config
nohup.out
test.py
build
.pytest_cache
config.py
account.py
mexc_account.py
Account
sql.sql
aws
Config
config
*.sh
main.py
RhinoCollectLogs
test.py
t.py
*logs